.txt3
{
	margin-top:10%;
}
.fback
{
	background-color:black;
	position:fixed;
}
.
textarea
{
	position:relative;
	height:100%;
	width:100%;
}
hr
{
	background-color: grey;
}
.img5
{
		margin-top:2%;
}
 .z1
 {
     z-index:2;
 }